<body>
  <div class="landing_container">
    <p class="about_us_par">
      Change Starts With You
    </p>

    <a class="register" routerLink="/login-manager" >Join Today<br></a>
  </div>

<section class="about">

<div class="tree">
  <img src="..\assets\trees.jpeg" alt="Trees">
</div>

  <div class="Who_We_Are">
    <h2>Who Are We?</h2>

    <p>We at team Sprawling Seeds are driven to help make the earth a better and greener place. Through the combined
        efforts of us and our Helpers we strive to restore our Earths beauty by replanting that which was lost whether
        it was through fire, or human error. We will strive to do our best to restore almost everything which was destroyed.
    </p>
    
  </div>
</section>

<section class="Why_Us">
  <div class="txt">
    <h2>Why Us?</h2>

    <p>Our staff at Sprawling Seeds are constantly eager to get up and out there to help the restoration of destroyed nature.
      By trusting us, we can garuntee that eventually majority of the damage to nature caused will be replaced. If your interested
      in helping our cause, please take a look at what we need!
    </p>
    <br>
    <a class="search_needs_button" routerLink="/needs">Our Needs</a>
  </div>

  <div class="volunteers">
    <img src="..\assets\volunteers.jpg" alt="volunteers">
  </div>

  
</section>

<section class="foot">
<p>© 2025 Sprawling Seeds</p>
</section>
</body>