*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


h2{
    display:flex;
    justify-content: center;
    color:white;
}

h3{
    background-color:white;
}

form{
    display:flex;
    justify-content:center;
    flex-direction:column;
    width:100%;
    max-width:400px;
    padding:20px;
    margin:50px auto;
    border-radius:8px;
    box-shadow: 0 4px 8px(0,0,0,0.1);
    background-color:white;
}

input{
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:4px;
    background-color: white;
}

button{
    color:white;
    background-color: green;
    padding: 9px 25px;
    border:none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease;
    justify-content:center;
    width:150px;
    margin-left:100px;
}   

    

button:hover{
    background-color:lightgreen;
}